.contain{
    background: #fff;
    .containHead{
        padding: 20px;
        .add{
            width: 300px;
            height: 120px;
            border: 1px solid #999;
        }
    }
    :global{
        .ant-tabs-nav{
            padding: 0 20px;
        }
    }
}