.contain{
    min-height: 95%;
}
.title{
    margin-bottom: 10px;
}
.title img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.title, .textCo{
    display: flex;
    align-items: center;
}
.title p{
    font-size: 18px;
    margin:0;
}
.con span{
    font-size: 14px;
    color: #666;
}
.textCo{
   >div{
       margin-right: 40px;
   } 
}
.view{
    height: 400px;
    width: 90%;
    margin-top: 20px;
    border: 1px solid #E6ECF5;
    box-shadow: 0 1 3px #C4C6D3;
}